---
import LayananSection from "./Svelte/LayananSection.svelte";
import SearchLayanan from "./Svelte/SearchLayanan.svelte";

const BACKEND_URL = process.env.BACKEND_URL ?? "http://localhost:3000";

let servicesWithIcon: any[] = [];

try {
    const catRes = await fetch(`${BACKEND_URL}/api/v1/categories/?limit=30`);
    const categories = (await catRes.json()).data ?? [];

    servicesWithIcon = categories.map((s: any) => ({
        ...s,
        iconBody: s.icon ?? "",
    }));
} catch (e) {
    console.error("Failed to fetch service categories:", e);
}
---

<!-- Search Section -->
<section class="mt-4 md:-mt-10 bg-cream z-30 relative">
    <SearchLayanan apiUrl="/api/layanan-search" client:load />
</section>

<!-- Service List -->
<LayananSection services={servicesWithIcon} apiUrl="/api/layanan" client:load />
