---
import AdminLayout from "../../layouts/AdminLayout.astro";


---

<AdminLayout title="Dashboard">
    <div class="min-h-full px-8">
        <!-- ── Hero ──────────────────────────────────── -->
        <div class="py-6">
            <h1 class="text-4xl font-bold uppercase tracking-tight text-ink">
                Dashboard
            </h1>
            <p class="text-sm text-ink/50 mt-1">
                Selamat datang di dashboard admin.
            </p>
        </div>

        <div class="bg-green/5 border border-green p-5 rounded">
            <p class="text-sm text-ink/50 mt-1">
                Development.
            </p>
            <p class="text-ink mt-2">
                Mohon maaf, kami masih dalam proses pengembangan.
            </p>
        </div>
    </div>
</AdminLayout>